:host {
    .title-pic-container {
        .title-pic {
            margin: auto;
            background-size: cover;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}