<div class="login-container flex justify-content-end sm:col-11 md:col-11 lg:col-10 xl:col-9 mx-auto py-2 my-2 xl:my-4 px-2 h-full">
  <div class="content relative">
    <div class="circle">
      <div class="form flex align-content-center flex-wrap w-15rem h-15rem lg:w-25rem lg:h-25rem">
        <form [formGroup]="loginForm" (submit)="logIn()" class="login-form w-full">
          <div class="mb-3">
            <p class="text-xl lg:text-3xl text-center">Введите логин и пароль</p>
          </div>
          <div class="fields">
            <div class="my-2 lg:my-3">
              <label for="login">Логин</label>
              <input #login class="input w-full h-2rem" type="text" formControlName="login">
            </div>
            <div class="my-2 lg:my-3">
              <label for="password">Пароль</label>
              <input #password class="input w-full h-2rem" type="password" formControlName="password">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="button-container mt-0 flex justify-content-center flex-wrap">
      <button (click)="logIn()" class="logIn-button py-2 px-4 lg:py-2 lg:px-5 lg:text-lg" type="button">Войти</button>
    </div>
    <div class="register flex justify-content-center flex-wrap">
      <span class="my-2">Еще нет аккаунта? <a href="/registration">Зарегистрироваться</a> </span>
    </div>
  </div>
</div>
